/*--null-styles-page-------------*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--text-color);
}

:root {
  --hover-color: #2196f3;
  --h2-h3-color: #212121;
  --text-color: #757575;
  --bg-color-black: #2f303a;
  --logo-color-black: #000000;
  --white-color: #ffffff;
  --background-button-color: #f5f4fa;
  --adress-a-color: rgba(255, 255, 255, 0.6);
}
/*--null-styles-page-end------------*/
/*--NAVIGATION-SECTION---------------------*/
/*--logo-blue-part----------------*/
.logo-blue {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-color);
}

/*--logo-black-part-------------*/
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color-black);
}

.nav-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h2-h3-color);
  text-decoration: none;
}

.nav-list-item-active {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--hover-color);
  text-decoration: none;
}

.contact-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.contact-number {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.hover a:hover,
.hover a:focus {
  color: var(--hover-color);
}

/*--NAVIGATION-SECTION---------------------*/

/*--PAGE-PRIMARY-BANER-SECTION--------------*/
h1 {
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.banner {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: var(--bg-color-black);
}
.banner button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/*--benefits-section---------------*/
.hide {
  display: none;
}

.benefits-main h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--h2-h3-color);
}

.benefits-main p {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}
/*--benefits-section-end-----------*/
/*--experience-section----------*/
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--h2-h3-color);
}

.our-command-main h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--h2-h3-color);
}

.our-command-main p {
  font-style: normal;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color);
}
/*--experience-section-end--*/
/*--PAGE-PRIMARY-BANER-SECTION-END---*/

/*--PAGE-PORTFOLIO-------*/
header {
  margin-bottom: 56px;
}
.project-name-h-2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h2-h3-color);
}

.portfolio p {
  font-style: normal;
  font-size: 16px;
  line-height: 1.85;
  color: var(--text-color);
}

/*--filter-section-----*/

.portfolio button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--h2-h3-color);
  background: var(--background-button-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.portfolio button:hover,
.portfolio button:focus {
  background: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  color: var(--white-color);
}

/*--filter-section-end--*/

/*--PAGE-PORTFOLIO-END----*/

/*--FOOTER-SECTION-------*/

footer {
  background: var(--bg-color-black);
}

footer a {
  text-decoration: none;
}

.logo-white {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}

address p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

address a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--adress-a-color);
}
/*--FOOTER-SECTION-END--------------*/
